<div class="z-20 flex h-auto min-w-screen justify-center">
  <div class="search-container relative">
    <input
      type="text"
      class="search-input"
      placeholder="Find new friends!"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
    @if (fetchedUsers().length != 0) {
      <ul
        class="absolute top-full z-50 flex max-h-[50vh] w-full flex-col overflow-y-auto md:w-3/5"
        (appClickedOutside)="deleteFetchedUsers()"
      >
        @for (user of fetchedUsers(); track user.id) {
          <li>
            <a [routerLink]="['/user', user.id]" class="search-list">
              <div class="py-1">
                <img
                  [src]="(user.avatar | imageParse) ?? 'https://pic.re/image'"
                  alt=""
                  class="aspect-square w-full max-w-18 min-w-8 shrink-0 rounded-full object-cover"
                />
              </div>
              <div class="px-4 italic">{{ user.username }}</div>
            </a>
          </li>
        }
      </ul>
    }
  </div>
</div>
