<div class="flex min-h-full min-w-full items-center justify-center">
  <div class="mt-8 w-3/5 border-2 border-amber-50">
    <div class="grid max-h-full grid-cols-1 justify-center py-4">
      <div class="flex items-center justify-center">
        <img
          class="w-50 rounded-full sm:w-30 md:w-80 lg:w-100 xl:w-120"
          [src]="userService.localUser()?.avatar | imageParse"
        />
      </div>
      <div class="flex flex-col items-center justify-center gap-5 py-6 text-3xl text-amber-50">
        <h1 class="p-3 text-5xl">Account Information</h1>
        <p class="font-bold">Username</p>
        <span class="italic"> {{ userService.localUser()?.username }}</span>
        <p class="font-bold">E-mail</p>
        <span class="italic">{{ userService.localUser()?.email }}</span>
        <button class="auth-button w-1/2" (click)="showEmailForm()">Change e-mail</button>
        @if (showEmailChange()) {
          <div class="flex flex-col items-center justify-center">
            <input
              class="auth-input w-full text-2xl"
              type="email"
              placeholder="E-mail"
              [field]="changeEmailForm.email"
            />
            <button class="auth-button" (click)="onEmailChange()">Submit</button>
          </div>
        }

        <button (click)="showPasswordForm()" class="auth-button w-1/2">Change password</button>
        @if (showPasswordChange()) {
          <div class="flex flex-col items-center justify-center">
            <input
              class="auth-input"
              type="password"
              [field]="changePasswordForm.oldPassword"
              placeholder="Old password"
            />
            <input
              class="auth-input"
              type="password"
              [field]="changePasswordForm.newPassword"
              placeholder="New password"
            />
            <button class="auth-button" (click)="onPasswordChange()">Submit</button>
          </div>
        }
      </div>
    </div>
  </div>
</div>
