/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
html {
  all: unset;
}
@theme {
  --bg-pattern: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23318ce7' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  --brilliant-azure: #318ce7;
  --prussian-blue: #0a2239;
  --honey-bronze: #eca72c;
  --mint-leaf: #03cea4;
  --burgundy: #550c18;
  --font-roboto: 'Roboto';
}

@layer components {
  .auth-input {
    @apply my-2 w-full border-0 border-b-3 px-2 text-5xl focus:border-(--mint-leaf) md:w-3/4 dark:text-white;
    border-color: var(--prussian-blue);
    caret-color: var(--prussian-blue);
    outline: none;
  }

  .auth-button {
    @apply mt-3 w-3/4 cursor-pointer rounded-full border-5 border-transparent p-4 text-2xl;
    background-color: var(--brilliant-azure);
    color: white;
  }

  .auth-button:hover {
    @apply border-(--mint-leaf);
  }
  .auth-container {
    @apply h-full w-6/10 border-4 backdrop-blur-xs md:h-7/10;
    border-color: var(--prussian-blue);
    overflow: auto;
    color: var(--brilliant-azure);
  }
  .auth-header-message {
    @apply flex flex-col items-center justify-center dark:text-amber-50;
  }
  .auth-errors {
    @apply my-1 flex min-w-3/4 items-start justify-start px-1 text-red-500;
  }
  .search-input {
    @apply w-full border-b-2 border-indigo-600 p-3 text-center shadow-2xl outline-0 backdrop-contrast-50 focus:border-(--mint-leaf) md:w-3/5 dark:backdrop-brightness-50 dark:backdrop-contrast-100;
  }
  .search-container {
    @apply m-4 flex w-full flex-col items-center justify-center text-3xl text-cyan-800 dark:text-(--brilliant-azure);
  }
  .search-list {
    @apply flex cursor-pointer items-center px-3 backdrop-grayscale-70 transition-opacity delay-700 hover:backdrop-brightness-75;
  }
  .btn-invite {
    @apply mb-2 cursor-pointer rounded-2xl border-2 p-5 font-bold text-(--mint-leaf) transition-colors duration-300 hover:bg-(--mint-leaf) hover:text-(--prussian-blue);
  }
  .navbar-icon {
    @apply m-1 aspect-square size-10 bg-cover stroke-white object-cover transition-colors duration-500 ease-out hover:fill-(--mint-leaf);
  }
  .friend-icon {
    @apply aspect-square w-8 rounded-full sm:w-8 md:w-15 lg:w-20 xl:w-25;
  }
  .pop-up-body {
    @apply relative flex w-full max-w-md flex-col gap-4 rounded-2xl bg-gray-900 p-6 shadow-2xl;
  }
  .pop-up-bg {
    @apply fixed inset-0 z-50 flex items-center justify-center bg-black/50 backdrop-blur-sm;
  }
  .close-pop-up-btn {
    @apply absolute top-3 right-3 cursor-pointer text-2xl font-bold text-white transition-colors hover:text-(--brilliant-azure);
  }
  .submit-btn {
    @apply mt-4 w-full cursor-pointer rounded-xl bg-(--brilliant-azure) py-2 text-lg font-semibold text-(--prussian-blue) transition-colors hover:bg-(--mint-leaf) hover:text-amber-50;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
