<div class="flex h-full w-full flex-col border border-(--brilliant-azure) text-white">
  <div class="shrink-0 border-b border-gray-300 font-bold italic">
    <div class="flex p-1">
      <p class="flex-1 p-1 text-xl">{{ selectedChat()?.chatName }}</p>
      <button
        class="flex cursor-pointer justify-self-center pr-2 pb-2 text-2xl transition-all duration-300 hover:scale-110"
        (click)="onChatDetails()"
      >
        ....
      </button>
      @if (showChatDetails()) {
        <app-chat-details
          [selectedChat]="selectedChat()"
          [closeModal]="onChatDetails"
        ></app-chat-details>
      }
    </div>
  </div>

  <div (scroll)="onScroll()" #chatContainer class="flex-1 overflow-y-auto p-2">
    @for (message of chatMessages(); track message.messageId) {
      <div
        class="my-2 flex items-start p-1 hover:backdrop-brightness-70"
        [class.flex-row-reverse]="isUserSender(message)"
      >
        @if (avatarFor(message.senderId!)()) {
          <img
            class="aspect-square w-10 rounded-full md:w-12 xl:w-15"
            [src]="(avatarFor(message.senderId!)() | imageParse) ?? 'https://pic.re/image'"
            alt=""
            [routerLink]="['/user', message.senderId]"
            [class.ml-2]="isUserSender(message)"
          />
        }
        <div
          class="ml-2 flex max-w-9/12 min-w-1/2 flex-col justify-center"
          [class.items-end]="isUserSender(message)"
        >
          <span class="text-md relative ml-2 flex w-fit text-gray-400"
            >{{ message.senderName }}
            {{ message.sentAt | date: (isToday(message.sentAt!) ? 'HH:mm' : 'dd.MM.yyyy, HH:mm') }}
            @if (canModifyMessage(message)) {
              <button
                class="absolute -right-5 cursor-pointer"
                (click)="onMessageDelete(message.messageId!)"
                [class.-left-5]="isUserSender(message)"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-4 hover:fill-(--burgundy)"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </button>
            }
          </span>
          @switch (true) {
            @case (message.type === 'text/plain') {
              <span
                [class.italic]="message.status == 3"
                [class.text-gray-400]="message.status == 3"
                class="my-1 max-w-9/12 min-w-3/4 rounded-xl bg-(--brilliant-azure)/40 px-3 py-3 text-justify text-2xl text-wrap wrap-break-word break-all"
                >{{ message.content }}</span
              >
            }
            @case (isImage(message)) {
              <img
                [src]="message | messageToImagePipe"
                alt=""
                class="my-1 max-w-9/12 min-w-3/4 rounded-xl bg-(--brilliant-azure)/40 px-3 py-3 text-justify text-2xl text-wrap wrap-break-word break-all"
              />
            }
            @default {
              <span
                class="relative my-1 min-w-3/4 rounded-xl bg-(--brilliant-azure)/40 px-3 py-3 text-justify text-sm text-wrap wrap-break-word break-all italic"
                >{{ message.senderName }} sends you a file (type: {{ message.type }})
                <a
                  [href]="message | messageToImagePipe"
                  [attr.download]="message.senderName"
                  [class.-left-8]="isUserSender(message)"
                  class="absolute top-2 -right-8"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="size-6"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z"
                      clip-rule="evenodd"
                    />
                  </svg> </a
              ></span>
            }
          }
        </div>
      </div>
    }
  </div>

  <div class="shrink-0 p-2">
    <div class="relative">
      <input
        type="text"
        (keypress)="onSendByKey($event)"
        [field]="messageToSendForm.message"
        class="w-full rounded-2xl bg-black/50 p-2 text-xl outline outline-black backdrop-blur-sm focus:outline-2 focus:outline-gray-500"
      />
      <button (click)="fileInput.click()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="absolute top-1/2 right-10 size-6 -translate-y-1/2 cursor-pointer hover:invert-20"
        >
          <path
            fill-rule="evenodd"
            d="M18.97 3.659a2.25 2.25 0 0 0-3.182 0l-10.94 10.94a3.75 3.75 0 1 0 5.304 5.303l7.693-7.693a.75.75 0 0 1 1.06 1.06l-7.693 7.693a5.25 5.25 0 1 1-7.424-7.424l10.939-10.94a3.75 3.75 0 1 1 5.303 5.304L9.097 18.835l-.008.008-.007.007-.002.002-.003.002A2.25 2.25 0 0 1 5.91 15.66l7.81-7.81a.75.75 0 0 1 1.061 1.06l-7.81 7.81a.75.75 0 0 0 1.054 1.068L18.97 6.84a2.25 2.25 0 0 0 0-3.182Z"
            clip-rule="evenodd"
          />
        </svg>
        <input #fileInput type="file" class="hidden" (change)="onFileSelected($event)" />
      </button>
      <button (click)="onSend()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="absolute top-1/2 right-2 size-6 -translate-y-1/2 cursor-pointer hover:invert-20"
        >
          <path
            d="M3.478 2.404a.75.75 0 0 0-.926.941l2.432 7.905H13.5a.75.75 0 0 1 0 1.5H4.984l-2.432 7.905a.75.75 0 0 0 .926.94 60.519 60.519 0 0 0 18.445-8.986.75.75 0 0 0 0-1.218A60.517 60.517 0 0 0 3.478 2.404Z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
