<div class="flex w-screen justify-center">
  <div
    class="m-4 flex w-full flex-col items-center justify-center text-3xl text-cyan-800 dark:text-(--brilliant-azure)"
  >
    <input
      type="text"
      class="search-input"
      placeholder="Find new friends!"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
    @if (fetchedUsers().length != 0) {
      <ul class="mt-2 flex w-3/5 flex-col">
        @for (user of fetchedUsers(); track user.id) {
          <li
            class="flex cursor-pointer items-center px-3 backdrop-grayscale-50 hover:backdrop-brightness-75"
          >
            <div>
              <img
                [src]="(user.avatar | imageParse) ?? 'https://pic.re/image'"
                alt=""
                class="aspect-square w-full max-w-18 rounded-full object-cover"
              />
            </div>
            <div class="px-4 italic">{{ user.username }}</div>
          </li>
        }
      </ul>
    }
  </div>
</div>
