<div class="flex w-screen justify-center">
  <div
    class="m-4 flex w-full flex-col items-center justify-center text-3xl text-cyan-800 dark:text-(--brilliant-azure)"
  >
    <input
      type="text"
      class="search-input"
      placeholder="Find new friends!"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
    @if (fetchedUsers().length != 0) {
      <ul class="mt-2 flex w-3/5 flex-col">
        @for (user of fetchedUsers(); track user.id) {
          <li>{{ user.username }}</li>
        }
      </ul>
    }
  </div>
</div>
