<div class="grid h-full w-full grid-cols-[1fr_10fr]">
  <aside class="relative flex flex-col border-r p-4">
    <div class="flex items-center-safe justify-center">
      <h2 class="ml-0.5 max-w-40 min-w-30 overflow-hidden text-2xl text-nowrap text-amber-50">
        @if (selectedGroup()) {
          <button class="cursor-pointer p-1" (click)="showGroupSettings()">
            {{ selectedGroup()?.groupName }}
          </button>
          @if (showGroupOptions()) {
            <app-group-options
              [selectedGroup]="selectedGroup()"
              [closeModal]="showGroupSettings"
              [groupMembers]="groupMembers()"
            ></app-group-options>
          }
        }
      </h2>
      <button (click)="onShowCreateChatForm()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="hover:tran m-1 size-6 cursor-pointer fill-white transition-all hover:scale-130"
        >
          <path
            fill-rule="evenodd"
            d="M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      @if (showCreateChatForm()) {
        <div class="pop-up-bg">
          <div class="pop-up-body">
            <button class="close-pop-up-btn" (click)="onShowCreateChatForm()">✕</button>

            <h2 class="text-center text-2xl font-semibold text-amber-50">Create New Chat</h2>

            <div class="flex flex-col gap-1">
              <input
                [field]="createChatForm.chatName"
                type="text"
                placeholder="Chat Name"
                class="pop-up-input"
              />
              @if (createChatForm.chatName().invalid() && createChatForm.chatName().touched()) {
                @for (error of createChatForm.chatName().errors(); track error.kind) {
                  <span class="text-sm text-red-500">{{ error.message }}</span>
                }
              }
            </div>

            <div class="flex flex-col gap-1">
              <select
                class="w-full appearance-none rounded-md border border-gray-700 bg-gray-800 px-4 py-2 text-lg text-white focus:ring-2 focus:ring-(--brilliant-azure) focus:outline-none"
                [field]="createChatForm.ForRole"
              >
                <option value="" disabled selected hidden>For what role?</option>
                @for (role of chatTypeOptions; track role.value) {
                  <option [value]="role.value">{{ GroupRole[role.value] }}</option>
                }
              </select>
              @if (createChatForm.ForRole().invalid() && createChatForm.ForRole().touched()) {
                @for (error of createChatForm.ForRole().errors(); track error.kind) {
                  <span class="text-sm text-red-500">{{ error.message }}</span>
                }
              }
            </div>

            <button class="submit-btn" (click)="onChatCreate()">Create</button>
          </div>
        </div>
      }
    </div>

    <ul class="max-h-160 max-w-40 overflow-x-hidden overflow-y-auto backdrop-grayscale-40">
      @for (chat of groupChats(); track chat.id) {
        <li
          class="flex cursor-pointer items-center rounded-md px-3 py-2 text-lg font-medium text-wrap text-gray-300 transition-colors hover:bg-gray-700/60 hover:text-white"
          (click)="onChatSelect(chat)"
          [class.bg-gray-700]="selectedChat()?.id === chat.id"
          [class.text-white]="selectedChat()?.id === chat.id"
        >
          {{ chat.chatName }}
        </li>
      }
    </ul>
    <div class="absolute bottom-0 left-0 w-full pb-0.5 text-white">
      <button
        (click)="onInviteButtonClick()"
        class="flex w-full cursor-pointer items-center justify-center py-2 backdrop-brightness-50 transition-all duration-300 hover:bg-(--brilliant-azure)"
      >
        Invite people!
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6"
        >
          <path
            d="M5.25 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM2.25 19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 0 1-.364-.63l-.001-.122ZM18.75 7.5a.75.75 0 0 0-1.5 0v2.25H15a.75.75 0 0 0 0 1.5h2.25v2.25a.75.75 0 0 0 1.5 0v-2.25H21a.75.75 0 0 0 0-1.5h-2.25V7.5Z"
          />
        </svg>
      </button>
    </div>
    @if (showInvitePeopleForm()) {
      <div class="pop-up-bg">
        <div class="pop-up-body">
          <div class="mb-4 text-lg font-semibold text-white">Invite friends</div>
          <div class="max-h-80 space-y-1 overflow-y-auto">
            <input class="pop-up-input outline-0" placeholder="Search" (input)="onSearch($event)" />
            @for (friend of filteredFriends(); track friend.id) {
              <div
                class="flex items-center gap-3 rounded px-3 py-2 text-white transition-colors hover:backdrop-brightness-50"
              >
                <img
                  [src]="friend.avatar | imageParse"
                  class="aspect-square w-10 rounded-full object-cover"
                />
                <div class="flex w-full items-center">
                  <span class="flex-1 text-sm font-medium">
                    {{ friend.username }}
                  </span>
                  @if (!invitedIds().has(friend.id)) {
                    <button
                      class="cursor-pointer rounded-xl bg-(--brilliant-azure) p-3 text-sm font-semibold text-(--prussian-blue) transition-colors hover:bg-(--mint-leaf) hover:text-amber-50"
                      (click)="onInvite(friend.id)"
                    >
                      Add
                    </button>
                  } @else {
                    <span class="text-green-400">Added!</span>
                  }
                </div>
              </div>
            }
          </div>

          <span class="close-pop-up-btn" (click)="showInvitePeopleForm.set(false)"> ✕ </span>
        </div>
      </div>
    }
  </aside>

  <main class="min-h-full w-full justify-self-center shadow-2xl">
    @if (selectedChat()) {
      <app-chat [selectedChat]="selectedChat()"></app-chat>
    }
  </main>
</div>
