<div class="flex h-screen w-screen items-center justify-center">
  <div class="auth-container">
    <div class="flex h-full flex-col items-center justify-center">
      <div class="auth-header-message">
        <span class="text-6xl">Welcome Back,</span>
        <span class="text-2xl">Log in</span>
      </div>
      <input type="text" placeholder="Username" class="auth-input" [field]="loginForm.username" />
      @if (loginForm.username().invalid() && loginForm.username().touched()) {
        <div class="auth-errors">
          @for (error of loginForm.username().errors(); track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
      <input
        type="password"
        placeholder="Password"
        class="auth-input"
        [field]="loginForm.password"
      />

      @if (loginForm.password().invalid() && loginForm.password().touched()) {
        <div class="auth-errors">
          @for (error of loginForm.password().errors(); track error) {
            <p>{{ error.message }}</p>
          }
        </div>
      }
      @if (loginError()) {
        <div class="auth-errors">
          <p>{{ loginError() }}</p>
        </div>
      }
      <button type="button" class="auth-button" (click)="handleLogin()">Log in</button>
      <a [routerLink]="['/auth/register']" class="mt-2 w-2/3 text-start dark:text-white"
        >Don't have an account? Register here!</a
      >
    </div>
  </div>
</div>
