<div class="pop-up-bg h-screen w-screen">
  <div class="pop-up-body">
    <h1 class="text-center">Group Settings - {{ selectedGroup()?.groupName }}</h1>
    <div>
      <span class="m-1 p-1">Group Members</span>
      <ul class="m-2 max-h-100 overflow-y-auto">
        @for (member of groupMembers(); track member.id) {
          <li
            class="m-0.5 flex cursor-pointer items-center p-1 hover:backdrop-brightness-50"
            (click)="onSelectedUser(member)"
          >
            <img [src]="member.avatar | imageParse" class="aspect-square w-15 rounded-full" />
            <span class="ml-5 text-xl">{{ member.username }}</span>
          </li>
        }
      </ul>
    </div>
    @if (showMemberDetailsModal()) {
      <app-member-details
        [selectedUser]="selectedUser()"
        [closeModal]="toggleMemberDetailsModal"
        [selectedGroup]="selectedGroup()"
      ></app-member-details>
    }
    <span class="close-pop-up-btn" (click)="onModalClose()"> ✕ </span>
    @if (groupService.selectedUserGroupRole() == 2) {
      <button
        class="submit-btn bg-(--burgundy) text-amber-50 transition-all hover:bg-red-500"
        (click)="onGroupDelete()"
      >
        Delete Group
      </button>
      @if (showConfirmModal()) {
        <div class="pop-up-bg">
          <div class="pop-up-body">
            <span class="close-pop-up-btn" (click)="onGroupDelete()"> ✕ </span>
            <div class="flex">
              <span class="w-full text-center text-lg"
                >Do you really want to DELETE this group?</span
              >
            </div>
            <div class="flex items-center justify-center gap-20 text-lg">
              <button
                class="submit-btn bg-(--burgundy) text-amber-50 transition-all hover:bg-red-600"
                (click)="onGroupDeleteConfirm()"
              >
                Delete
              </button>
              <button class="submit-btn" (click)="onGroupDelete()">Close</button>
            </div>
          </div>
        </div>
      }
    }
  </div>
</div>
